@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

.homepage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 20px;
}

.homepage__items-wrapper{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 860px;
    margin-bottom: 58px;
}

.homepage__load-more-btn{
    background: #148DFD;
    border-radius: 4px;
    width: 150px;
    height: 40px;
    border: none;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
}




